.image-container {
    position: absolute;
}
.center-block {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


/* publier */

.text-container {
    background-color: #e0f7fa;
    border-radius: 10px;
    padding: 40px 0;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* <!-- Individuals Professionals --> */


.circle-container {
    position: relative;
    width: 700px;
    height: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-circle {
    position: absolute;
    display: flex;
    justify-content: center;
    row-gap: 5px;
    align-items: center;
    width: 190px;
    height: 100px;
    border-radius: 12px;
    flex-direction: column;
  }
  /* Positions around a circle */
  .div1 { transform: rotate(0deg) translate(300px) rotate(0deg); }
  .div2 {  transform: rotate(45deg) translate(300px) rotate(-45deg); }
  .div3 {  transform: rotate(90deg) translate(300px) rotate(-90deg); }
  .div4 { transform: rotate(135deg) translate(300px) rotate(-135deg); }
  .div5 {  transform: rotate(180deg) translate(300px) rotate(-180deg); }
  .div6 {  transform: rotate(225deg) translate(300px) rotate(-225deg); }
  .div7 {  transform: rotate(270deg) translate(300px) rotate(-270deg); }
  .div8 {  transform: rotate(315deg) translate(300px) rotate(-315deg); }
  .icon1 { background-color: #EF7A64; }
  .icon2 { background-color: #027580;  }
  .icon3 { background-color: #EF7A64;  }
  .icon4 { background-color: #027580;  }
  .icon5 { background-color: #EF7A64;  }
  .icon6 { background-color: #027580;  }
  .icon7 { background-color: #EF7A64;  }
  .icon8 { background-color: #027580;  }

  /* Add your custom icon color styles */
  .icon-container img {
    width: 30px;
    height: 30px;
  }


  /* card rating */

  .profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #FFC107; /* Golden border */
}
.star-rating .fa-star {
    color: #FFC107; /* Golden color */
}
.review-name {
    font-weight: bold;
}

.background-image {
    background-image: url("./assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}